version: '3.8'

services:
  tests:
    build: .
    volumes:
      - ./allure-results:/app/allure-results
      - ./reports:/app/reports
    environment:
      - PLAYWRIGHT_BROWSERS_PATH=/ms-playwright
    stdin_open: true
    tty: true
